html{
  padding-left: calc(100vw - 100%);
}

body {
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: "Cochin", serif;
  // font-family: "Garamond", serif;
  // font-family: "Poppins", sans-serif;
}

.badge {
  font-weight: 500;
}
